.portfolio-section {
    margin-top: 80px;
}


.portfolio-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 25px;
}

.portfolio-item {
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    height: 620px; /* tüm item'lara standart yükseklik */
}

    .portfolio-item img {
        width: 100%;
        height: 100%; /* kutuyu tamamen doldur */
        object-fit: fill; /* resmi kýrpýp kutuya tam oturtur */
        display: block;
        transition: .3s;
    }

        .portfolio-item img:hover {
            transform: scale(1.05);
        }
