.hero {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 55%;
}

    .left h1 {
        color: #fff;
        font-size: 55px;
        font-weight: 700;
    }

    .left h3 {
        color: #fff;
        font-size: 26px;
        margin-bottom: 20px;
    }

    .left p {
        color: #eee;
        max-width: 450px;
        margin-bottom: 35px;
    }



.icons {
    display: flex;
    align-items: center;
}

.cv-btn {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 8px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: .3s;
}

    .cv-btn:hover {
        background: #fff;
        color: #000;
    }

.social {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
}

    .social a {
        color: #fff;
    }

    .social i {
        border: 2px solid #fff;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

        .social i:hover {
            background: #fff;
            color: #000;
        }

/* Right Side (Image) */
.right .photo {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.7);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #fff;
}

    .right .photo img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
