.hamburger {
    display: none;
}



/* ---------- TABLET ---------- */
@media (max-width: 1230px) and (min-width: 768px) {


    .container {
        width: 90%;
        padding: 20px;
    }


    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



    .left, .right {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* FOTOÐRAF ORTALAMA */
        .right .photo {
            margin: 30px auto 0 auto; /* ortalama için auto */
            display: flex;
            justify-content: center;
            align-items: center;
        }


    .icons {
        display: flex;
        justify-content: center; /* dikey ortalama */
        align-items: center; /* yatay ortalama */
        text-align: center;
    }

    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .skill-bar span {
        height: 12px;
    }

    header {
        padding: 10px 20px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 220px;
        background: rgba(120, 105, 110,1);
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 20px;
        transition: 0.3s;
        z-index: 1000;
    }

        .nav.active {
            right: 0;
        }

        .nav a {
            margin: 15px 0;
            font-size: 20px;
        }

    .hamburger {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
    }

    .sertifika-grid h3{
        font-size:22px;
    }
}

/* ---------- MOBILE ---------- */
@media (max-width: 767px) and (min-width:400px) {

    .container {
        width: 95%;
        padding: 15px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



    .left, .right {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* FOTOÐRAF ORTALAMA */
        .right .photo {
            margin: 30px auto 0 auto; /* ortalama için auto */
            display: flex;
            justify-content: center;
            align-items: center;
        }


    .icons {
        display: flex;
        justify-content: center; /* dikey ortalama */
        align-items: center; /* yatay ortalama */
        text-align: center;
    }


    .portfolio-grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .skill-bar span {
        height: 10px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 180px;
        background: rgba(120, 105, 110,1);
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 20px;
        transition: 0.3s;
        z-index: 1000;
    }

        .nav.active {
            right: 0;
        }

        .nav a {
            margin: 15px 0;
            font-size: 16px;
        }

    .hamburger {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
    }

    .sertifika-grid h3 {
        font-size: 16px;
    }
}




/* ---------- MOBILE ---------- */
@media (max-width: 400px) {

    .container {
        width: 95%;
        padding: 15px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .left h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }


    .left, .right {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* FOTOÐRAF ORTALAMA */
        .right .photo {
            margin: 30px auto 0 auto; /* ortalama için auto */
            display: flex;
            justify-content: center;
            align-items: center;
            width:200px;
            height:200px;
        }



    .icons {
        display: flex;
        justify-content: center; /* dikey ortalama */
        align-items: center; /* yatay ortalama */
        text-align: center;
    }


    .portfolio-grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .skill-bar span {
        height: 10px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 140px;
        background: rgba(120, 105, 110,1);
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 20px;
        transition: 0.3s;
        z-index: 1000;
    }

        .nav.active {
            right: 0;
        }

        .nav a {
            margin: 15px 0;
            font-size: 12px;
        }

    .hamburger {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
    }

    .sertifika-grid h3 {
        font-size: 13px;
    }
}
