.sertifika-section {
    margin-top: 80px;
}


.sertifika-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
}

.sertifika-item {
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

    .sertifika-item img {
        width: 100%;
        display: block;
        transition: .3s;
    }

        .sertifika-item img:hover {
            transform: scale(1.1);
        }
