* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 100vw; /* viewport’u aşamaz */
}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    max-width: 100vw; /* viewport’u aşamaz */
    width: 100vw; /* viewport’u aşamaz */
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0; /* sağ kenarı sabitle */
        bottom: 0; /* alt kenarı sabitle */
        width: 100vw; /* viewport genişliği */
        height: 100vh; /* viewport yüksekliği */
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0.1);
        background-blend-mode: darken;
        z-index: -1;
    }




.container {
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 25px 40px;
    display: flex-column;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(30px);
    box-shadow: white 0 0 20px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

    header.fixed {
        position: fixed;
        top: 20px; /* container üst margin ile aynı */
        left: 0; /* JS ile dinamik ayarlanacak */
        width: 0; /* JS ile dinamik ayarlanacak */
        z-index: 999;
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 20px rgba(0,0,0,0.5);
        padding: 15px 40px;
        border-radius: 30px;
        transition: all 0.3s ease;
    }





.logo {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    padding: 6px;
    width: 58px;
    height: 58px;
    background: #c2babe;
    border-radius: 50%; /* İşte full circle yapan kod */
    text-align: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 40px;
}

    .nav a {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        padding: 5px 10px; /* Hover ile aynı padding */
        border-radius: 50px; /* Hover ile aynı border-radius */
        transition: background-color 0.4s ease, color 0.5s ease; /* Sadece renk değişimi animasyonu */
    }

        .nav a:hover,
        .nav .active {
            background-color: #fff2f7;
            color: #91848a;
        }





.page-title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}
