
.experience-section {
    margin-top: 80px;
}

.experience-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,1);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

    .experience-card h2 {
        color: #fff;
        font-size: 26px;
    }

    .experience-card h3 {
        color: #ffe3f2;
        font-size: 22px;
        margin: 8px 0;
    }

    .experience-card h4 {
        color: #fff;
        font-size: 16px;
        margin: 8px 0;
        margin-top:20px;
        text-decoration:underline;
    }


   

    .experience-card p {
        color: #fff;
    }

   

        .experience-card li{
            color: #fff;
            margin-bottom:10px;
            margin-left:20px;
        }


        span img{
            width:32px;
            height:24px;
        }


hr{
    margin-top:20px;
}